@inherits LayoutComponentBase

<main>
    <img src="images/Ninja.png" class="ninja" alt="mascot logo" />
    <div class="container-fluid justify-content-center" id="top_row">
        <NavMenu />
    </div>
    <div class="row">
        <div class="col-1"></div>

        <div class="col justify-content-center">
            <article>
                @Body
            </article>
        </div>

        <div class="col-1"></div>
    </div>
</main>

