@page "/config/moneyaccounts/edit/"

@inherits EditMoneyAccountBase

<section id="edit_account">
    <div class="row">
        <a href="/config/moneyaccounts" class="btn btn-primary" >&lt;-- RETURN TO LISTING</a><br />
    </div>
    <br/>


    <EditForm Model="Account" OnValidSubmit="SaveChanges">
        <DataAnnotationsValidator />
        <InputHidden Name="Id" Value="@Account.Id.ToString()" />

        <FormGroup InputId="idAccountType" DisplayName="Account Type">
            <InputSelect id="idAccountType"
                         TValue="LedgerType"
                         DisplayName="Account Type"
                         class="form-select form-select-md"
                         @bind-Value="Account.JournalType"
                         @onchange="OnLedgerTypeChanged">

                @foreach (var key in listLedgerTypes)
                {
                    <option value="@key">@key.ToDisplayText()</option>
                }

            </InputSelect>
        </FormGroup>

        <FormGroup InputId="idDesc" DisplayName="Description">

            <InputText id="idDesc"
                       DisplayName="Description"
                       class="form-control"
                       maxlength="200"
                       @bind-Value="Account.Description"
                       @onchange="OnDescriptionChanged" />
            <ValidationMessage For="(() => Account.Description)" />
        </FormGroup>

        <FormGroup InputId="idOrderBy" DisplayName="Display Order">
            <InputNumber id="idOrderBy"
                         DisplayName="Display Order"
                         class="form-control"
                         maxlength="2"
                         @bind-Value="Account.OrderBy"
                         @onchange="OnDisplayOrderChanged" />
            <ValidationMessage For="(() => Account.OrderBy)" />
        </FormGroup>



        
        <ValidationSummary />
        <br/>

        <FormGroup InputId="idActionButtons" DisplayName="">
        <div class="d-flex">
            <button type="submit" class="btn btn-success">
                <ActionIcon IconOption="IconOpt.Save" />
                <span>Save Changes</span>
            </button>

            <button type="button" class="btn btn-secondary mx-5" @onclick="Reset">
                <ActionIcon IconOption="IconOpt.Cancel" />
                <span>Discard</span>
            </button>
        </div>
        </FormGroup>
    </EditForm>






</section>

