@page "/config/moneyaccounts/edit/{AccountUID}"
@page "/config/moneyaccounts/edit"

@inherits EditMoneyAccountBase

<section id="edit_account">
    <div class="row">
        <a href="/config/moneyaccounts" class="btn btn-primary" >&lt;-- RETURN TO LISTING</a><br />
    </div>
    <br/>


    <EditForm Model="Account" OnValidSubmit="SaveChanges">
        <DataAnnotationsValidator />
        <InputHidden Name="Id" Value="@Account.Id.ToString()" />

        <FormGroup InputId="idAccountType" DisplayName="Account Type">
            <InputSelect id="idAccountType"
                         TValue="LedgerType"
                         DisplayName="Account Type"
                         class="form-select form-select-md"
                         @bind-Value="Account.JournalType"
                         @onchange="OnLedgerTypeChanged">

                @foreach (var key in listLedgerTypes)
                {
                    <option value="@key">@key.ToDisplayText()</option>
                }

            </InputSelect>
        </FormGroup>

        <FormGroup InputId="idDesc" DisplayName="Description">

            <InputText id="idDesc"
                       DisplayName="Description"
                       class="form-control"
                       maxlength="200"
                       @bind-Value="Account.Description"
                       @onchange="OnDescriptionChanged" />
            <ValidationMessage For="(() => Account.Description)" />
        </FormGroup>

        <FormGroup InputId="idOrderBy" DisplayName="Display Order">
            <InputNumber id="idOrderBy"
                         DisplayName="Display Order"
                         class="form-control"
                         maxlength="2"
                         @bind-Value="Account.OrderBy"
                         @onchange="OnDisplayOrderChanged" />
            <ValidationMessage For="(() => Account.OrderBy)" />
        </FormGroup>

        @if(Account.JournalType != LedgerType.LiabilityLoan) {
            <!-- CSV Mapping -->
            <div id="idCSVMappingSection">
                <hr/>
                <h3 class="justify-content-center">CSV Mapping</h3>

                <FormGroup InputId="idStartingRow" DisplayName="Starting Row">
                    <InputNumber 
                        id="idStartingRow" 
                        DisplayName="Starting Row"
                        class="form-control"
                        maxlength="5"
                        @bind-Value="Account.StartingRow"
                        @onchange="OnStartingRowChanged"
                        />
                        <ValidationMessage For="(() => Account.StartingRow)" />
                </FormGroup>

                <FormGroup InputId="idTransDateCol" DisplayName="Transaction Date Column">
                    <InputNumber
                        id="idTransDateCol"
                        class="form-control"
                        maxlength="5"
                        @bind-Value="Account.TransDateColumn"
                        @onchange="OnTransDateColumnChanged"
                        />
                </FormGroup>

                <FormGroup InputId="idDescCol" DisplayName="Description Column">
                    <InputNumber id="idDescCol"
                                 class="form-control"
                                 maxlength="5"
                                 @bind-Value="Account.DescriptionColumn"
                                 @onchange="OnDescriptionColumnChanged" />
                </FormGroup>

                <FormGroup InputId="idAmountCol" DisplayName="Amount Column">
                    <InputNumber id="idAmountCol"
                                 class="form-control"
                                 maxlength="5"
                                 @bind-Value="Account.AmountColumn"
                                 @onchange="OnAmountColumnChanged" />
                </FormGroup>

                <FormGroup InputId="idIsInverted" DisplayName="Is Amount Inverted">
                    <InputCheckbox 
                        id="idIsInverted"
                        class="form-check-input"
                        @bind-Value="Account.IsAmountInverted"
                        @onchange="OnIsAmountInvertedChanged"
                        />
                </FormGroup>

                <hr/>
            </div>
        }

        
        <ValidationSummary />
        <br/>

        <FormGroup InputId="idActionButtons" DisplayName="">
        <div class="d-flex">
            <ActionIconButton 
                ButtonId="idSaveChanges" 
                IconOption="IconOpt.Save" 
                ClassOverride="btn-success"
                ButtonType="submit">
                Save Changes
            </ActionIconButton>

            @* <button type="submit" class="btn btn-success">
                <ActionIcon IconOption="IconOpt.Save" />
                <span>Save Changes</span>
            </button> *@

            <ActionIconButton 
                ButtonId="idDiscardChanges" 
                IconOption="IconOpt.Cancel"
                ClassOverride="btn-secondary mx-5" 
                ParentName="Money Account Discard"
                OnClickHandler="Reset" >
                Discard
            </ActionIconButton>


            @* <button type="button" class="btn btn-secondary mx-5" @onclick="Reset">
                <ActionIcon IconOption="IconOpt.Cancel" />
                <span>Discard</span>
            </button> *@
        </div>
        </FormGroup>
    </EditForm>






</section>

