@page "/Config"

<!--
    I know other features will be added here [like creating NEW YEAR records]
    but I should consider adding this as a SUBMenu
-->
<section>
    <div class="row">
        <a href="/Config/MoneyAccounts" class="nav-link">
            <img class="action-icon" src="icons\Dollar-256.png" /> Edit Money Accounts
        </a>
    </div>

    <div class="row">
        <a href="/Config/LedgerAccounts" class="nav-link">
            <img class="action-icon" src="icons\Library-Books-256.png" /> Edit Ledger Accounts
        </a>
    </div>

    <div class="row">
        <a href="/Config/BudgetPlans" class="nav-link">
            <img class="action-icon" src="icons\Stock-Exchange-256.png" /> Edit Budget Plans
        </a>
    </div>
</section>


@code {

}
