
<div class="g-2">
    <a href="@this.URL" class="icon-link" @onclick="OnClick">
        <ActionIcon IconOption="@this.IconOption" />
    </a>
</div>

@code {
    [Parameter] public string URL { get; set; }
    [Parameter] public IconOpt IconOption { get; set; }
    [Parameter] public EventCallback OnClickHandler { get; set; }

    private async Task OnClick(MouseEventArgs eventArgs)
    {
        if(OnClickHandler.HasDelegate)
        {
            await OnClickHandler.InvokeAsync(null);
        }
    }
}
