
<div class="row">
    <div class="d-inline-flex">
        <a href="#" @onclick="ClickHandler">
            <img src="images/icons/Add-New-256.png" class="action-icon" />
            <span>Add New</span>
            <img src="images/icons/Add-New-256.png" class="action-icon" />
        </a>
    </div>
</div>


@code {
    [Parameter] public EventCallback OnClick { get; set; }

    private async Task ClickHandler(MouseEventArgs e)
    {
        if (OnClick.HasDelegate)
        {
            await OnClick.InvokeAsync();
        }
    }
}
