section {
    width: 300px;
}

h3 {
    font-size: 28px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    background-color: lightgray;
    margin: 4px;
    padding: 1px;
}

input {
    vertical-align: central;
}

#divEditCategory {
    background-color: #9999FF;
}

#divHeader {
    background-color: lightgray;
    height: 60px;
}

#divFooter {
    background-color: lightgray;
}