
@if (this.Plan != null)
{
    <section id="P_@Plan.PlanUID">
        <div class="row">

        </div>
    </section>
}

@code {
    // TODO: Create action button to Create Transaction from a plan

    [Parameter] public SummaryItemPlanVM Plan {get;set;}
    [Parameter] public bool IsAlternateBG { get; set; }

    private string PlanTypeColor
    {
        get
        {
            switch(this.Plan.PlanType)
            {
                case BudgetPlanType.DebtPayment:
                    return "orange-500";
                case BudgetPlanType.Payable:
                    return "red-500";
                case BudgetPlanType.Receivable:
                    return "green-500";
                case BudgetPlanType.Transfer:
                    return "blue-500";
                default:
                    return "gray-500";
            }

        }
    }

}