@using DLPMoneyTracker.Data.TransactionModels.JournalPlan;

@inject BudgetPlanVM viewModel



<h3>BudgetPlanEditor</h3>

@code {
    


    public void LoadPlan(IJournalPlan plan)
    {
        
    }

    public void SaveChanges()
    {

    }

    public void Clear()
    {
        
    }
}
