@page "/"
@inject SummaryListingVM model
@inject MessageHelper messageThis


<section id="summary_list" class="container">

    <div class="row justify-content-center">

        <!-- Summary List goes here -->
        <ul class="list-group list-group-flush">
            @foreach(var item in model.SummaryItemList)
            {
                <li class="list-group-item">
                    <SummaryItem Account="@item" />
                </li>
            }
        </ul>

    </div>

</section>

@code {
    protected override void OnInitialized()
    {
        messageThis.SetPageTitle("Summary");
    }
}
