
.Bank {
    background-color: lightgreen;
}

.Card {
    background-color: yellow;
}

.Loan {
    background-color: orange;
}

.SummaryInfo {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif
}