@page "/"
@using DLPMoneyTracker.Data.ConfigModels;

@inject ITrackerConfig config

<div class="row">
    <div class="col-1"></div>
    <div class="col-10">

        @foreach(var acct in config.AccountsList.OrderBy(o => o.OrderBy).ThenBy(o => o.Description))
        {
            <div class="row">
                <MoneyAccountSummary MoneyAccountID="@acct.ID" />
            </div>
        }

    </div>
    <div class="col-1"></div>
</div>



@code {
    

}
