img {
    height: 25px;
    width: 25px;
    background-color: lightgray;
}

table {
    width: 90%;
}

th {
    background-color: lightblue;
    font-weight: bold;
    font-size: 14px;
}

td {
    background-color: white;
    font-size: 12px;
    border-bottom-style: solid;
}