
<div class="g-2">
    <button type="button" class="btn @ClassOverride" @onclick="OnClick">
        <ActionIcon IconOption="@this.IconOption" />
    </button>
</div>

@code {
    // [Parameter] public string URL { get; set; }
    [Parameter] public IconOpt IconOption { get; set; }
    [Parameter] public EventCallback OnClickHandler { get; set; }
    [Parameter] public string ClassOverride { get; set; } = "btn-light btn-outline-primary";

    private async Task OnClick(MouseEventArgs eventArgs)
    {
        if (OnClickHandler.HasDelegate)
        {
            await OnClickHandler.InvokeAsync(null);
        }
    }
}
