
<div class="row">
    <ActionIconButton 
        ButtonId="@ButtonId" 
        ClassOverride="btn-primary d-flex"
        IconOption="IconOpt.AddNew" 
        OnClickHandler="OnClickHandler">
        <div class="mx-3">Add New Record</div>
    </ActionIconButton>
</div>


@code {
    [Parameter] public EventCallback OnClickHandler { get; set; }
    [Parameter] public string ButtonId { get; set; }    
}
