
<div class="row mb-3 column-gap-2">
    

    <div class="col-2">
        <label for="@InputId"><span>@DisplayName</span></label>
    </div>

    <div class="col-6">
        @ChildContent
    </div>
    
</div>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public string InputId { get; set; }
    [Parameter] public string DisplayName { get; set; }
}
