@page "/"
@inject SummaryListingVM model
@inject NotificationHelper messageThis
@inject ILogger<SummaryListing> logger


<section id="summary_list" class="container">

    <div class="row justify-content-center">

        <!-- Summary List goes here -->
        <ul class="list-group list-group-flush">
            @foreach(var item in model.SummaryItemList)
            {
                <li class="list-group-item">
                    <SummaryItem Account="@item" />
                </li>
            }
        </ul>

    </div>

</section>

@code {
    //private ILogger logger;
    protected override void OnInitialized()
    {
        //logger = logProvider.CreateLogger(nameof(SummaryListing));
        logger.LogWarning("Warning Test");
        logger.LogInformation("Information Test");

        messageThis.SetPageTitle("Summary");
    }
}
