@page "/Config/MoneyAccount"
@using DLPMoneyTracker.Data.LedgerAccounts;

@inject EditMoneyAccountService service;

<div class="top-row px-4">
    <button type="button" @onclick="@((e) => AddNewMoneyAccount())"><img class="action-btn" src="icons\Add-New-256.png" alt="Add New" /></button>
</div>

<section id="gridMoneyAccounts">
    <div class="row">
        <table>
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Account Type</th>
                    <th>Initial Bal</th>
                    <th><!-- Action Buttons --></th>
                </tr>
            </thead>

            <tbody>
                @if(service.MoneyAccounts?.Count > 0) 
                {
                    int rowCount = 0;
                    foreach(var acct in service.MoneyAccounts)
                    {
                        rowCount++;
                        <tr class="@((rowCount % 2 == 0) ? "altRowColor" : "stdRowColor")">
                            <td>@acct.Description</td>
                            <td>@acct.JournalType.ToDisplayText()</td>
                            
                        </tr>
                    }
                }
                else
                {
                    <tr/>
                }

            </tbody>
        </table>
    </div>
</section>


@code {
    private AddEditMoneyAccounts popupEdit;
    

    private void AddNewMoneyAccount()
    {
        
    }
}
